Repository furukawa-laboratory/workout_report_2019, pull requests merged in 2019-07, with the labels that each got.

#93 #79 construction of nn with keras
  trainee/yamauchi/Model/Construction_of_NN_with_Keras_01.ipynb
  trainee/yamauchi/Model/Construction_of_NN_with_Keras_02.ipynb
  trainee/yamauchi/Model/Construction_of_NN_with_Keras_03.ipynb
  trainee/yamauchi/Model/Construction_of_NN_with_Keras_04.ipynb
  trainee/yamauchi/Model/Construction_of_NN_with_Keras_05.ipynb
  trainee/yamauchi/Model/autoencoder.h5
  trainee/yamauchi/Model/tmp/tb/events.out.tfevents.1558172155.DESKTOP-ECJD2G4
  trainee/yamauchi/Model/vae_mlp.png
  trainee/yamauchi/Model/vae_mlp/digits_over_latent.png
  trainee/yamauchi/Model/vae_mlp/vae_mean.png
  trainee/yamauchi/Model/vae_mlp_decoder.png
  trainee/yamauchi/Model/vae_mlp_encoder.png
Labels: mini report, model

#90 #68 test tsuno
  trainee/tsuno/test/#68 [検証(常人)] 教師あり学習のモデル評価・選択.ipynb
  trainee/tsuno/test/variance_bias.pdf
Labels: mini report, test, training

#132 最終報告会の文面を追加
  README.md
Labels: description

#134 #133 add description of final report
  README.md
  trainer/README.md
Labels: description, trainer

#112 #[Qiita1本目] SVMの基礎部分について
  trainee/yamauchi/Qiita/Support Vector Machine_ SVM について.md
  trainee/yamauchi/Qiita/Untitled.ipynb
Labels: final report, training

#120 [Qiita1本目] Jupyter notebook ショートカット解説
  trainee/harada/Qiita1/Qiita1.txt
Labels: final report, training

#108 #100 qiita eigenvalueのプルリクエスト
  trainee/takano/WorkOut_Report/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  trainee/takano/WorkOut_Report/Qiita/.ipynb_checkpoints/Qiita article-checkpoint.ipynb
  trainee/takano/WorkOut_Report/Qiita/Qiita article.ipynb
  trainee/takano/WorkOut_Report/Untitled.ipynb
  trainee/takano/WorkOut_Report/linear algebra/.ipynb_checkpoints/senkeihenkan-checkpoint.ipynb
  trainee/takano/WorkOut_Report/linear algebra/senkeihenkan.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/100_numpy_exercize-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/100_numpy_exercize.ipynb
  trainee/takano/WorkOut_Report/model/Untitled.ipynb
Labels: final report, linear algebra, training

#113 Qiita2本目 M(マッチョ)VAEの作成
  trainee/takano/WorkOut_Report/Qiita2_VAE/.ipynb_checkpoints/MVAE-checkpoint.ipynb
  trainee/takano/WorkOut_Report/Qiita2_VAE/MVAE.ipynb
Labels: final report, model, training
