Repository furukawa-laboratory/workout_report_2019, pull requests merged in 2019-05, with the labels that each got.

#58 #57_model_tsuno_Pull_Request
  trainee/tsuno/model/beginner_model.ipynb
  trainee/tsuno/preprocessing/data_processing.ipynb
Labels: mini report, model

#50 #28_model_beginner_Pull_requests
  trainee/takano/WorkOut_Report/model/ Simple_linear_regression.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/ Simple_linear_regression-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/Multiple regression-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/PCA-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/PCA_2_dimension-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/Preprocessing-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/Multiple regression.ipynb
  trainee/takano/WorkOut_Report/model/PCA.ipynb
  trainee/takano/WorkOut_Report/model/PCA_2_dimension.ipynb
  trainee/takano/WorkOut_Report/model/Preprocessing.ipynb
  trainee/takano/WorkOut_Report/model/Untitled.ipynb
  trainee/takano/WorkOut_Report/model/test.py
Labels: mini report, training

#56 #29_preprocessing_tsuno_Pull_Request
  trainee/tsuno/preprocessing/data_processing.ipynb
Labels: mini report, preprocessing

#65 #52_introduction_of_preprocessing_02
  trainee/yamauchi/Introduction_of_Preprocessing_02.ipynb
Labels: mini report, preprocessing

#75 Create README.md
  trainer/README.md
Labels: description, trainer

#54 Edit the pull request's template
  .github/pull_request_template.md
Labels: description, trainer

#73 #63_using_implemented_model 01
  trainee/yamauchi/Using_ImplementedModel_01.ipynb
Labels: mini report, model, training

#76 #61_verification_takano_PullRequest
  trainee/takano/WorkOut_Report/Preprocessing/.ipynb_checkpoints/Preprocessing-checkpoint.ipynb
  trainee/takano/WorkOut_Report/Preprocessing/Preprocessing.ipynb
  trainee/takano/WorkOut_Report/Verification/.ipynb_checkpoints/matplotlib_tutorial-checkpoint.ipynb
  trainee/takano/WorkOut_Report/Verification/.ipynb_checkpoints/my_favorite_function-checkpoint.ipynb
  trainee/takano/WorkOut_Report/Verification/.ipynb_checkpoints/sample_plots_in_matplotlib-checkpoint.ipynb
  trainee/takano/WorkOut_Report/Verification/matplotlib_tutorial.ipynb
  trainee/takano/WorkOut_Report/Verification/my_favorite_function.ipynb
  trainee/takano/WorkOut_Report/Verification/sample_plots_in_matplotlib.ipynb
  trainee/takano/WorkOut_Report/Verification/test.png
Labels: mini report, test, training

#71 #44 harada 前処理入門
  trainee/harada/前処理入門_ビギナー/#44_PCA_uci_wine.ipynb
  trainee/harada/前処理入門_ビギナー/#44_PCA_uci_wine_3D.ipynb
  trainee/harada/前処理入門_ビギナー/#44_Preprocessing_tutorial.ipynb
  trainee/harada/前処理入門_ビギナー/.ipynb_checkpoints/#44_PCA_uci_wine-checkpoint.ipynb
  trainee/harada/前処理入門_ビギナー/.ipynb_checkpoints/#44_PCA_uci_wine_3D-checkpoint.ipynb
  trainee/harada/前処理入門_ビギナー/.ipynb_checkpoints/#44_Preprocessing_tutorial-checkpoint.ipynb
  trainee/harada/前処理入門_ビギナー/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  trainee/harada/前処理入門_ビギナー/.ipynb_checkpoints/comp_test-checkpoint.ipynb
  trainee/harada/前処理入門_ビギナー/.ipynb_checkpoints/wine_smple-checkpoint.ipynb
  trainee/harada/前処理入門_ビギナー/Untitled.ipynb
  trainee/harada/前処理入門_ビギナー/comp_test.ipynb
  trainee/harada/前処理入門_ビギナー/wine.txt
  trainee/harada/前処理入門_ビギナー/wine_smple.ipynb
  trainee/harada/前処理入門_ビギナー/wine_smple.py
  trainee/yamauchi/.ipynb_checkpoints/Introduction_of_Preprocessing_01-checkpoint.ipynb
Labels: training

#80 Update README.md
  trainer/README.md
Labels: trainer

#78 #66_drawing_with_matplotlib
  .gitignore
  trainee/yamauchi/Verification/Drawing_with_matplotlib_01.ipynb
  trainee/yamauchi/Verification/Drawing_with_matplotlib_02.ipynb
  trainee/yamauchi/Verification/Drawing_with_matplotlib_03.ipynb
  trainee/yamauchi/test.png
Labels: mini report, test, training

#81 #72 harada モデル ビギナー
  trainee/harada/モデル_ビギナー/#72_PCA_写経_iris.ipynb
  trainee/harada/モデル_ビギナー/#72_単回帰_Boston_House_Prices.ipynb
  trainee/harada/モデル_ビギナー/#72_単回帰_写経.ipynb
  trainee/harada/モデル_ビギナー/.ipynb_checkpoints/#72_Boston_House_Pricesで線形回帰予測-checkpoint.ipynb
  trainee/harada/モデル_ビギナー/.ipynb_checkpoints/#72_PCA_写経_iris-checkpoint.ipynb
  trainee/harada/モデル_ビギナー/.ipynb_checkpoints/#72_irisデータセットにPCA-checkpoint.ipynb
  trainee/harada/モデル_ビギナー/.ipynb_checkpoints/#72_単回帰_Boston_House_Prices-checkpoint.ipynb
  trainee/harada/モデル_ビギナー/.ipynb_checkpoints/#72_単回帰_写経-checkpoint.ipynb
  trainee/harada/モデル_ビギナー/.ipynb_checkpoints/Untitled-checkpoint.ipynb
  trainee/harada/モデル_ビギナー/.ipynb_checkpoints/test-checkpoint.ipynb
  trainee/harada/モデル_ビギナー/1.PNG
  trainee/harada/モデル_ビギナー/Boston_House_Prices.ipynb
  trainee/harada/モデル_ビギナー/Untitled.ipynb
  trainee/harada/モデル_ビギナー/iris.ipynb
  trainee/harada/モデル_ビギナー/test.ipynb
  trainee/harada/前処理入門_ビギナー/#44_PCA_uci_wine.ipynb
  trainee/harada/前処理入門_ビギナー/#44_Preprocessing_tutorial.ipynb
  trainee/harada/前処理入門_ビギナー/.ipynb_checkpoints/#44_PCA_uci_wine-checkpoint.ipynb
  trainee/harada/前処理入門_ビギナー/Untitled.ipynb
Labels: mini report, model, training

#67 #62 [常人(モデル)] kerasを用いてニューラルネットワークの実装のプルリクエスト
  trainee/tsuno/model/#62 [常人] kerasを用いたニューラルネットワークの実装.ipynb
Labels: mini report, model, training

#86 #85　Noguchi matplotlibによる描写、グラフ作成
  trainee/noguchi/Pyplot.ipynb
Labels: mini report, training

#87 #69 model takano Pull Request
  trainee/takano/WorkOut_Report/model/.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/.ipynb-checkpoint
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/AutoEncoder-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/CNN-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/.ipynb_checkpoints/Fully connected neural network-checkpoint.ipynb
  trainee/takano/WorkOut_Report/model/AutoEncoder.ipynb
  trainee/takano/WorkOut_Report/model/CNN.ipynb
  trainee/takano/WorkOut_Report/model/Fully connected neural network.ipynb
Labels: mini report, model, training
